---
import CortesaHero from '../components/CortesaHero.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefcaseIcon from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
title="Portfolio of Cortesa - React Web Developer and Programmer with 8 Years of Experience"
description="Explore the portfolio of Cortesa, a React web developer with 8 years of experience. Specializing in modern web design, dynamic applications, and tailored solutions that blend creativity and technology. Focused on intuitive interfaces, clean code, and optimized performance to elevate your digital presence. Check out featured projects and get in touch for collaborations!">
	<main class="px-4 sm:px-20">
		<SectionContainer id="hero" class="mt-20 lg:mt-36 mb-16">
			<CortesaHero/>
		</SectionContainer>
	<SectionContainer id="experience" >
		<h2 class="text-2xl semi-bold mb-6 flex gap-x-3 items-center">
			<BriefcaseIcon class="size-8"/>
			Work experience
		</h2>
		<Experience/>
	</SectionContainer>
	<!-- <SectionContainer id="projects" >
		<h2 class="text-2xl semi-bold mb-6 flex gap-x-3 items-center">
			<CodeIcon class="size-8"/>
			Projects
		</h2>
	</SectionContainer> -->
	</main>
</Layout>







