---
import ExperienceItem from './ExperienceItem.astro'
import BriefcaseIcon from '../icons/Briefcase.astro'

const EXPERIENCE = [
  {
    date: 'Feb 2025 - Now',
    title: 'Senior Frontend Developer & web3 at NumberGroup',
    description: 'As a Frontend Developer at NumberGroup, I´ve been collaborating to add new features and port to v2. Our tech stack includes React.js with Typescript and Styled-Components for building interfaces, Zustand for app state management, Wagmi and  Viem for web3 integration.',
  },
  {
    date: 'May 2021 - Dec 2024',
    title: 'Senior Frontend Developer at YoloRekt',
    description: 'As a Frontend Developer at YoloReck, I over see the complete development workflow-from implementing Ul designs to deploying applications using AWS Amplify. Our tech stack includes React.js with Typescript for building interfaces, CSS for styling, Atom for state management, and Socket.io for real-time data updates.',
  },
  {
    date: 'Nov 2019 - Nov 2021',
    title: 'Senior Frontend Developer at SpankChain',
    description: 'I was part of a frontend development team, handling tasks such as component modifications, implementing new business logic, and fixing bugs, all within an agile environment. Our tech stack included React.js with TypeScript, Styled-components for styling, and React Context for state management.'
  },
  {
    date: 'Mar 2018 - Nov 2019',
    title: 'Senior Fullstack web developer at Blockchain Foundry',
    description: 'I was part of the initial development team, responsible for creating the landing page, assisting with a marketplace built in Angular, and designing the wallet Ul, as well as automating blockchain node deployment. Our tech stack included React.js for the landing page, Angular for the wallet Ul, Jenkins for Cl automation, and Terraform for AWS infrastructure.'
  },
  {
    date: 'Jul 2017 - Feb 2018',
    title: 'Senior Frontend developer at Thrifa',
    description: 'I lead the development team responsible for building web applications centered on blockchain technology and cryptocurrencies. Our tech stack includes React.js and Angular for the Ul, with CSS and Styled-components for'
  }

]
---

<h2 class="text-2xl semi-bold mb-6 flex gap-x-3 items-center">
			<BriefcaseIcon class="size-8"/>
			Work experience
		</h2>
<ol class="relative border-s border-gray-700 ml-3">   
  {EXPERIENCE.map(experience => (
    <li class="mb-10 ms-4">
      <ExperienceItem {...experience} />
  </li>
  ))               }

</ol>

