---
import ExperienceItem from './ExperienceItem.astro'
import BriefcaseIcon from '../icons/Briefcase.astro'
import { EXPERIENCE } from '../contents/experience'
---

<h2 class="text-2xl semi-bold mb-6 flex gap-x-3 items-center">
			<BriefcaseIcon class="size-8"/>
			Work experience
		</h2>
<ol class="relative border-s border-gray-700 ml-3">   
  {EXPERIENCE.map(experience => (
    <li class="mb-10 ms-4">
      <ExperienceItem {...experience} />
  </li>
  ))               }
</ol>

