---
import AstroIcon from '../icons/Astro.astro'
import TailwindcssIcon from '../icons/Tailwindcss.astro'
---

<footer class="w-full max-w-[--main-max-width] mx-auto flex flex-col gap-y-2 items-center justify-center text-gray-400 text-sm pb-10">
      <p>© 2024 cortesa. All Rights Reserved.</p>
    <div class="flex flex-row items-center justify-between w-full">
      <div class="flex flex-row gap-x-2">Made with: <AstroIcon class="size-6"/> <TailwindcssIcon class="size-6"/> </div>
      <div>Thanks to: CBF</div>
    </div>
</footer>
