<header class="flex justify-center  mt-3 py-1 pl-2 pr-6 rounded-full border border-white/10 bg-white/5">
  <nav class="flex gap-x-5 opacity-80 items-center">
  <img class="rounded-full w-8 h-8" src="./favicon.svg" alt="cortesa photo" />
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/projects">Projects</a>
</nav>
</header>