<header class={`
flex
justify-center 
w-fit
mx-auto
mt-3 
pl-2 
pr-6 
py-2 
rounded-3xl  
bg-white/5`}>
  <nav class="flex gap-x-5 opacity-80 items-center text-white">
  <img class="rounded-full w-8 h-8" src="./favicon.svg" alt="cortesa photo" />
  <a href="#tech-stack">Tech stack</a>
  <a href="#lab">Lab</a>
  <a href="#experience">Experience</a>
  <a href="#contact">Contact</a>
</nav>
</header>