<header class={`
flex
justify-center 

w-fit
mx-auto
mt-3 
pl-2 
pr-6 
py-2 
rounded-3xl  
bg-white/5`}>
  <nav class="flex gap-x-5 opacity-80 items-center">
  <img class="rounded-full w-8 h-8" src="./favicon.svg" alt="cortesa photo" />
  <a href="/">Home</a>
  <a href="#experience">Experience</a>
  <a href="#projects">Projects</a>
</nav>
</header>