---
import StackIcon  from '../icons/Stack.astro';
import TechPill from './TechPill.astro';
import Flask from '../icons/Flask.astro';
import {PROJECTS} from '../contents/projects'
import { promise } from 'astro:schema';
import { TECHS } from '../const/techs';
import ProjectCard from './ProjectCard.astro';


---
<h2 class="text-2xl semi-bold mb-6 flex gap-x-3 items-center">
			<Flask class="size-8"/>
			Lab
		</h2>
		<div class="flex flex-col gap-8 pl-10">
      {PROJECTS.map((project)=>(
       <ProjectCard project={project} />
      ))
    }
    </div>