---
interface Props {
  id: string
  class?:string
}

const {id, class:className}= Astro.props
---
<section id={id} class={`relative w-full lg:w-[--main-max-width] mx-auto ${className}`}><slot/></section>