---
import LinkedIn from "../icons/LinkedIn.astro";
---

<a 
href={Astro.props.href}
class="flex flex-row justify-center gap-x-2 rounded-full text-white border-white/30 border px-5 py-2 bg-black/70 hover:scale-110 hover:bg-black/90 transition"
target="_blank"
rel="noopener noreferrer">
<slot/>
</a>