---
import type { Tech } from '../const/techs'

interface Props {
  tech: Tech
}

const {tech} = Astro.props

const dynamicBorder={
  borderColor: tech.color,
}

const dynamicTextColor={
  color: tech.color
}

---

<div class={`
  w-fit
  flex
  flex-nowrap
  gap-x-2 
  px-4 
  py-2 
  rounded-full 
  items-center 
  border 
  cursor-default
  `}
  style={{
    ...dynamicBorder,
    ...dynamicTextColor,
    minWidth: "100px",
  }}>
  <tech.icon class="size-6"/>
  <span class="whitespace-nowrap">{tech.name}</span>
</div>